dt {
  font-size: 60px;
  font-weight: 800;
  background-color: antiquewhite;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
dd {
  font-size: 40px;
}
dl {
  width: 800px;
  margin: auto;
}
